<app-loader [showloader]=showloader></app-loader>
<section class="dashboard-body">
    <div class="container-fluid">
        <div class="top-col">
            <h5 class="head-text color-green">Brand Add</h5>
        </div>
     
        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <!-- Basic form layout section start -->   
                    <section id="basic-form-layouts">
                        <div class="row match-height">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title" id="basic-layout-form-center">Enter Brand Details</h4>
                                    </div>

                                    <div class="card-content">
                                        <div class="px-3">
                                            <form [formGroup]="brandForm" class="form" (ngSubmit)="submitBrand()">
                                                <div class="row justify-content-md-center">
                                                    <div class="col-md-6">
                                                        <div class="form-body">
                                                            <!-- Brand Name -->
                                                            <div class="form-group">
                                                                <label for="eventInput1">Brand Name *</label>
                                                                <input type="text" id="eventInput1" class="form-control" name="fullname" formControlName="brandname" [ngClass]="{'is-invalid': brandForm.controls?.brandname?.invalid && brandForm.controls?.brandname?.touched }">
                                                                <div *ngIf="brandForm.controls?.brandname?.errors?.required" class="invalid-feedback">
                                                                    Brand name is required.
                                                                </div>
                                                                <div *ngIf="brandForm.controls?.brandname?.errors?.maxlength" class="invalid-feedback">
                                                                    Brand name can maximum 100 characters.
                                                                </div>
                                                                <div *ngIf="brandForm.controls?.brandname?.errors?.minlength" class="invalid-feedback">
                                                                    Brand name will atleast 2 characters.
                                                                </div>
                                                                <div *ngIf="brandForm.controls?.brandname?.errors?.pattern" class="invalid-feedback">
                                                                    Brand name will include only characters.
                                                                </div>
                                                            </div>
                                                            <!-- Brand Image -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Brand Image *</label>
                                                                        <input type="file" class="form-control-file" #fileInput (change)="fileChangeEvent($event)">
                                                                        <div class="error-message">{{imageError}}</div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div *ngIf="isImageSaved" class="shw_img">
                                                                        <img style="width: 100px;" [src]="cardImageBase64" />
                                                                        <a (click)="removeImage(fileInput)" class="re_move">Remove</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Brand Description -->
                                                            <div class="form-group">
                                                                <label for="eventInput2">Brand Description *</label>
                                                                <angular-editor [config]="config" formControlName="branddesc"  (ngModelChange)="editorChangeEvent($event)"></angular-editor>
                                                                <div class="error-message">{{editorError}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-actions center justify-content-md-center" style="display:flex">
                                                    <button type="button" class="btn btn-raised btn-warning mr-3" (click)="resetForm(fileInput)"><i class="ft-x"></i> Cancel</button>
                                                    <button type="submit" class="btn btn-raised btn-primary" [disabled]="!brandForm.valid || cardImageBase64 == null"><i class="fa fa-check-square-o"></i> Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>