<ion-content>
  <app-header></app-header>
    <div class="add-new-address my-2">
        <i class="fa fa-plus"></i> <span>Add a new address</span>
    </div>

    <div class="select-address">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="radio-button border-bottom my-2">
                        <label for="yess" class="radio-button__label-wrapper">
                        <span>
                          <div class="address-cart">
                            <div class="d-flex justify-content-between">
                              <h5>John Robins <span> Office </span></h5>
                              <span class="edit-add">Edit</span>
                            </div>
                            <p>Kovalchuk D. Ul., bld. 75, appt. 16, Novosibirsk, Novosibirskaya oblast</p>
                            <p> +7(383)672-05-45</p>
                          </div>
                        </span>
                        <input  type="radio" name="sharing_preference" id="yess" value="public" class="radio-button__input">
                        <div  class="radio-button__custom-indicator"></div>
                      </label>
                    </div>
                    <div class="radio-button border-bottom my-2">
                        <label for="yss" class="radio-button__label-wrapper">
                      <span>
                        <div class="address-cart">
                          <div class="d-flex justify-content-between">
                            <h5>William Smith <span> Home </span></h5>
                            <span class="edit-add">Edit</span>
                          </div>
                          <p>Kovalchuk D. Ul., bld. 75, appt. 16, Novosibirsk, Novosibirskaya oblast</p>
                          <p> +7(383)672-05-45</p>
                        </div>
                      </span>
                      <input  type="radio" name="sharing_preference" id="yss" value="public" class="radio-button__input">
                      <div  class="radio-button__custom-indicator"></div>
                    </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fixed footer -->
    <div class="fixed-footter text-right p-2">
        <button type="button" class=" btn btn-success btn-2-cstm btn-cstm">DELIVER HERE</button>
    </div>
    <!-- fixed footer -->
</ion-content>