<div class="send-msg-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-5 mb-2">
                <div class="single-content ">
                    <h6>5% discount as a gift for a subscription!</h6>
                    <p>
                        Subscribe and be the first to know about promotions and sales
                    </p>

                </div>
            </div>
            <div class="col-md-4 col-lg-5 mb-2">
                <input type="text" class="form-control" placeholder="Email *">
            </div>
            <div class="col-md-3 col-lg-2 mb-2">
                <button type="submit" class="cstm-submit">Send message</button>
            </div>
        </div>
    </div>
</div>