<div class="about-us ">
    <div class="container-fluid">

        <div class="row">
            <div class="breadcum">
                <div class="col-12">
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <!-- <li>/</li>
                      <li><a href="#">Cart</a></li> -->
                        <li>/</li>
                        <li>About company</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-12">
                <div class="about-text">
                    <div class="text-center">
                        <img src="../../assets/images/about.jpg" class="float-sm-right m-3">
                    </div>

                    <p>The Megagroup company welcomes you to the website of your company! We are glad that you made the right choice, because by creating a website, your company acquired its face in the boundless space of the Internet! We hope that thanks
                        to this site your potential clients will easily find you on the Internet, and the site will soon start making a profit.</p>
                    <p>Your site has a management system (CMS-S3 MegaSite) that allows you to easily manage your site content without programming skills thanks to a user-friendly interface.</p>
                    <h6>1. Placing text pages of various levels of nesting</h6>
                    <p>If you want your site not only to occupy its own niche on the Internet, but also to be well received by search engines, you can read the recommendations given by Yandex - “What is the difference between a high-quality site and a low-quality
                        one from the point of view of Yandex”.</p>
                    <p>Please note that the text information on the site must be individual, not copied from other Internet resources, as indicated in the Yandex recommendations:</p>
                    <p>"We try not to index or rank highly sites that copy information from other resources and do not create original content or services."</p>
                    <h6>2. Placement of images (individual photos and photo gallery)</h6>
                    <p>On the site you can post photos both on text pages and create photo galleries. Our control system allows you to automatically reduce photos, and yet we recommend using the "Save for Web" function when working with images in graphic
                        editors. It allows you to significantly compress image sizes. Thanks to this, the site loads faster and less traffic is consumed, which is important for users who do not have access to unlimited Internet.</p>
                    <h6>3. Ability to create tables in the control system or import them from Excel.</h6>
                    <p>When importing tables from Excel, it is recommended to pay attention to their width and size. If the table is complex, it may not load well for site visitors due to the different monitor and browser sizes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
