<div class="product-details ">
    <div class="container-fluid">

        <div class="row">
            <div class="breadcum">
                <div class="col-12">
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li>/</li>
                        <!-- <li><a>For Women</a></li>
                        <li>/</li> -->
                        <li>View Cart</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="ttl-text py-3">
                    View Cart
                </div>
            </div>
        </div> -->
        <div class="row my-3">
            <div class="col-md-12 my-cart">
                <table class="table table-bordered ">
                    <thead style="background: #2bb409; color: #fff;">
                        <tr>
                            <th class="col-span-2">Product</th>
                            <th class="col-span-2">Description</th>
                            <th class="col-span-2 text-center">Price</th>
                            <th class="col-span-2 text-center">Quantity</th>
                            <th class="col-span-2 text-center">Amount</th>
                            <th class="col-span-2 text-center">Remove</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="cartProducts.length > 0">
                        <tr *ngFor="let product of cartProducts; let i = index">
                            <td>
                                <!-- <img src="../../assets/images/download-1.png"> -->
                                <img [src]="product.data.image" *ngIf="product.data.image" style="width: 70px;"/>
                                <img src="../../assets/images/manJ55441.png" *ngIf="!product.data.image" style="width: 70px;">
                            </td>
                            <td>
                                <div class="d_tails">
                                    <p> Name : <span>{{ product?.data?.name }}</span></p>
                                    <!-- <p> Year : <span>2016</span></p> -->
                                    <p> Volume : <span>{{ product?.data?.volume }}</span></p>
                                </div>
                            </td>
                            <td class="text-center"><b>{{ product?.data?.price }} {{ currency }}</b></td>
                            <td class="text-center">
                                <div class="cart-item m-auto">
                                    <span (click)="updateCart(i, 'remove')" style="cursor: pointer;">-</span>
                                    {{ product?.quantity }}
                                    <span (click)="updateCart(i, 'add')" style="cursor: pointer;">+</span>
                                </div>
                            </td>
                            <td class="text-center">
                                <b>{{ product?.data?.price * product?.quantity }} {{ currency }}</b>
                            </td>
                            <td class="text-center"> <i class="fa fa-trash" (click)="removeFromCart(i)"></i> </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="cartProducts.length === 0">
                        <tr>
                            <td colspan="6" class="text-center">Cart is empty</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table view-cart">
                    <tbody>
                        <tr>
                            <td>
                                <div class="row no-gutters">
                                    <div class="col-5 px-1">
                                        <input type="text" placeholder="Have any Coupon ?" class="form-control">
                                    </div>
                                    <div class="col-3 px-1">
                                        <button type="submit" class="btn btn-success cstm-color">Apply</button>
                                    </div>
                                </div>
                            </td>
                            <td style="float: right;">
                                <table class="subttl" style="border:none; width: 250px;">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td><span class="amount">{{ subTotal }} {{ currency }}</span></td>
                                        </tr>
                                        <tr class="cart-subtotal">
                                            <th>Tax - 10% </th>
                                            <td><span class="amount"> {{ subTotal * 0.1 }} {{ currency }}</span></td>
                                        </tr>
                                        <!-- <tr class="cart-subtotal">
                                            <th>Coupon discount:</th>
                                            <td><span class="amount"> 5.00 p.</span></td>
                                        </tr> -->
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td>
                                                <strong><span class="amount">{{ total }} {{ currency }}</span></strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a class="btn cstm-submit w-50  float-right  btn-sm" (click)="checkout()">Checkout</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
