<div class="login-register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="form-input">
                    <div class="log-header">
                        <img src="../../assets/images/logo.png" class="login-logo" alt="logo">
                        <h2>Login</h2>
                    </div>
                    <form>
                        <div class="form-group input-sec">
                            <input type="text" class="form-control" placeholder="Email">
                            <span><i class="fa fa-user"></i> </span>
                        </div>
                        <div class="form-group input-sec">
                            <input type="password" class="form-control" placeholder="Password">
                            <span><i class="fa fa-lock"></i> </span>
                        </div>
                        <div class="forget">
                            <a href="#">Forgot password?</a>
                        </div>
                        <button type="button " class="cstm-submit"> Login</button>
                        <div class="social-login">
                            <p>You can also login through:</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                    <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="create-id">
                            Not Registred? <a [routerLink]="['/register']">Create an account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
