<div class="product-category-list my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-12">
                <div class="category-list my-3">
                    <div class="category-img" style="background-image: url(././assets/images/forwomen.png);"></div>
                    <div class="cate-ttl">
                        <p>Perfumery</p>
                        <h3>for women</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <div class="category-list my-3">
                    <div class="category-img" style="background-image: url(././assets/images/formen.png);"> </div>
                    <div class="cate-ttl">
                        <p>Perfumery</p>
                        <h3>for men</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <div class="category-list my-3">
                    <div class="category-img" style="background-image: url(././assets/images/Forall.png);"></div>
                    <div class="cate-ttl">
                        <p>Cosmetics</p>
                        <h3>for all</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-12">
                <div class="category-list my-3">
                    <div class="category-img" style="background-image: url(././assets/images/12114.png);"></div>
                    <div class="cate-ttl">
                        <p>Paints</p>
                        <h3>for hair</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <div class="category-list my-3">
                    <div class="category-img" style="background-image: url(././assets/images/12116.png);"></div>
                    <div class="cate-ttl">
                        <p>Deodorants</p>
                        <h3>for body</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">

                <div class="category-list my-3">
                    <div class="category-img" style="background-image: url(././assets/images/12117.png);"> </div>
                    <div class="cate-ttl">
                        <p>GIft</p>
                        <h3>sets</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5 btm-brder">
            <div class="see-all">
                See all <br> <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
</div>