<div class="top-header py-3 mb-2">
    <div class="container-fluid">
        <div class="row gutter-20 d-flex align-items-center">
            <div class="col-md-6 col-sm-6 d-none d-sm-block">
                <div class="social-icon">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
                <div class="log_out d-flex justify-content-end align-items-center">
                    <div class="user-account">Cabinet</div>
                    <div class="user-account" routerLink="/view-cart"><i class="fa fa-cart-plus"></i><span>2</span></div>
                    <div class="lg-ot" (click)="logOut()">
                        <svg viewBox="0 0 17 19" xmlns="http://www.w3.org/2000/svg" id="x_login_btn" width="17" height="19" fill="#3ac020">
                            <path d="M14.167 0H4.722C3.164 0 1.89 1.069 1.89 2.375v.99c0 .554.52.99 1.18.99.662 0 1.181-.436 1.181-.99v-.99c0-.237.189-.396.472-.396h9.445c.236 0 .472.159.472.396v14.25c0 .198-.236.396-.472.396H4.722c-.283 0-.472-.198-.472-.396v-.99c0-.554-.52-.99-1.18-.99-.662 0-1.181.436-1.181.99v.99C1.889 17.931 3.164 19 4.722 19h9.445C15.725 19 17 17.931 17 16.625V2.375C17 1.069 15.725 0 14.167 0z"></path>
                            <path d="M10.767 10.054l-3.542 2.969c-.614.514-1.606.158-1.606-.554v-1.386H.944c-.519 0-.944-.356-.944-.791V8.708c0-.435.425-.791.944-.791H5.62V6.53c0-.712 1.04-1.068 1.606-.554l3.542 2.969c.377.316.377.792 0 1.108z"></path>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>