<div class="review-section product-slider py-5">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ttl-text pb-3">
                    Reviews
                </div>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="review-content">
                    <div class="coment">I have been ordering here for many years in a row! Price, quality, service, terms, delivery - everything is at the highest level! The lowest prices, nice gifts and only originals! I advise everyone.
                    </div>
                    <div class="review-date ml-5">20.11.2019</div>
                    <div class="review-client ml-5">Maxim</div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="review-content">
                    <div class="coment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam tempore vero veniam quos enim eligendi! </div>
                    <div class="review-date ml-5">20.11.2019</div>
                    <div class="review-client ml-5">Maxim</div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="review-content">
                    <div class="coment">I have been ordering here for many years in a row! Price, quality, service, terms, delivery - everything is at the highest level! The lowest prices, nice gifts and only originals! I advise everyone.
                    </div>
                    <div class="review-date ml-5">20.11.2019</div>
                    <div class="review-client ml-5">Maxim</div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="review-content">
                    <div class="coment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam tempore vero veniam quos enim eligendi! </div>
                    <div class="review-date ml-5">20.11.2019</div>
                    <div class="review-client ml-5">Maxim</div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>