<ion-content>
    <div class="head">

    </div>

    <div class="main-body">
        <div class="login-back-img">
            <div class="overlay">
                <p class="back-btn" [routerLink]="['/login']"><i class="fa fa-long-arrow-left"></i></p>
                <img src="../../assets/images/logo.png" alt="">
            </div>
        </div>

        <div class="login-frm-back">
            <p class="welcome">OTP Varification</p>
            <form>
                <div class="form-row">
                    <div class="col-md-4 mb-3">

                        <div class="form-group">
                            <input type="text" id="email" placeholder="Email">
                        </div>

                    </div>


                </div>
                <button [routerLink]="['/home']" class="btn btn-sm login-btn" type="submit">Send OTP</button>

            </form>
        </div>
    </div>

</ion-content>