<ion-content>
    <app-header></app-header>
    <div class="logo-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center pt-3"><img src="../../assets/images/logo.png" class="img-fluid w-50 mx-auto"> </div>
                <div class="col-sm-12 py-3">
                    <div class="contact-number text-center">
                        <!-- <div class="call-icon text-right"></div> -->
                        <div class="address">
                            <h5> +7 (000) 000-00-00</h5>
                            <p>09:00 to 22:00</p>
                            <a href="#">Request a call</a>
                        </div>
                        <!-- <div class="togle-add">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13" height="13" fill="#ccc" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve">
                          <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                              c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                              c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          </svg>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- logo and contacct number -->

    <!-- ion slider -->
    <div class="slide-pro ">
        <ion-slides pager="true" class="home_slider" autoplay="400" loop="true" speed="3000">
            <ion-slide class="single_slider">
                <img src="../../assets/images/discount.png">
            </ion-slide>
            <ion-slide class="single_slider">
                <img src="../../assets/images/discounts-2.png">
            </ion-slide>
            <ion-slide class="single_slider">
                <img src="../../assets/images/download.png">
            </ion-slide>
        </ion-slides>
    </div>
    <!-- ion slider -->

    <!-- product category -->
    <div class="product-list py-4 ">
        <div class="container">
            <div class="row">
                <div *ngFor="let item of categories| slice:0:catEnd" class="col-sm-12 mb-3">
                    <div class="single-product-list text-center" (click)="goToCate(item)">
                        <img src="../../assets/images/formen.png">
                        <p>PERFUMERY</p>
                        <h3>{{ item.data.name }}</h3>
                    </div>
                </div>
                <!-- <div class="col-sm-12 mb-3">
                    <div class="single-product-list text-center">
                        <img src="../../assets/images/forwomen.png">
                        <p>PERFUMERY</p>
                        <h3> For women</h3>
                    </div>
                </div> -->

            </div>
        </div>
        <div *ngIf="isCollapse === true" class="see-all">
            <h6 (click)="allCatList()">See All <br> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13" height="13" fill="#2BB409" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;"
                    xml:space="preserve">
            <g>
              <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg></h6>
        </div>
        <div *ngIf="isCollapse === false" class="see-all">
            <h6 (click)="collapseCatList()">Collapse <br> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13" height="13" fill="#2BB409" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;"
                    xml:space="preserve">
            <g>
              <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg></h6>
        </div>
    </div>
    <!-- product category -->

    <!-- advantage block -->
    <div class="advantage">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="advan-item d-flex align-items-center my-4">
                        <div class="advan-icon ">
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="#2BB409" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25 18.1548C24.8214 17.3214 24.0476 16.7857 23.2738 16.9643L14.2857 18.631C13.631 17.619 12.619 16.9048 11.369 16.6667L8.33333 2.55952C7.97619 1.07143 6.66667 0 5.11905 0H1.4881C0.654762 0 0 0.654762 0 1.4881C0 2.32143 0.654762 2.97619 1.4881 2.97619H5.11905C5.2381 2.97619 5.35714 3.09524 5.41667 3.21429L8.45238 17.3214C7.32143 18.0952 6.54762 19.3452 6.54762 20.8333C6.54762 23.1548 8.39286 25 10.7143 25C12.7381 25 14.4643 23.5119 14.8214 21.6071L23.8095 19.9405C24.5833 19.7619 25.119 18.9881 25 18.1548Z"></path>
                  <path d="M13.6905 5.29762L20.7143 3.86905C21.6667 3.69048 22.619 4.28571 22.7976 5.29762L24.2262 12.3214C24.4048 13.2738 23.8095 14.2262 22.7976 14.4048L15.7738 15.8333C14.8214 16.0119 13.869 15.4167 13.6905 14.4048L12.2619 7.38095C12.0833 6.42857 12.6786 5.53571 13.6905 5.29762Z"></path>
                  </svg>
                        </div>
                        <div class="advan-text">
                            <h6>We have convenient delivery</h6>
                            <p>Delivery in Moscow and Moscow region</p>
                        </div>
                    </div>
                    <div class="advan-item d-flex align-items-center my-4">
                        <div class="advan-icon ">
                            <svg width="27" height="20" fill="#2BB409" viewBox="0 0 27 20" xmlns="http://www.w3.org/2000/svg">
                          <path d="M22.5 0H2.8125C1.2375 0 0 1.22222 0 2.77778V17.2222C0 18.7778 1.2375 20 2.8125 20H22.5C24.075 20 25.3125 18.7778 25.3125 17.2222V15.5556C25.3125 14.9444 24.8063 14.4444 24.1875 14.4444H23.625C21.15 14.4444 19.125 12.4444 19.125 10C19.125 7.55556 21.15 5.55556 23.625 5.55556H24.1875C24.8063 5.55556 25.3125 5.05556 25.3125 4.44444V2.77778C25.3125 1.22222 24.075 0 22.5 0Z"></path>
                          <path d="M25.875 12.2222H23.625C22.3875 12.2222 21.375 11.2222 21.375 10C21.375 8.77778 22.3875 7.77778 23.625 7.77778H25.875C26.4938 7.77778 27 8.27778 27 8.88889V11.1111C27 11.7222 26.4938 12.2222 25.875 12.2222Z"></path>
                          </svg>
                        </div>
                        <div class="advan-text">
                            <h6>Very favorable prices</h6>
                            <p>Cumulative discount - 10%</p>
                        </div>
                    </div>
                    <div class="advan-item d-flex align-items-center my-4">
                        <div class="advan-icon ">
                            <svg width="29" height="25" viewBox="0 0 29 25" fill="#2BB409" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.1167 10.493L14.3188 5.18434C14.5 4.8757 14.6208 4.50533 14.6208 4.13496V1.23372C14.6208 0.61644 15.1042 0.0608838 15.7688 -0.000844577C17.5208 -0.124301 20.4813 0.678167 19.0917 7.96212H25.9792C27.6708 7.96212 29 9.32014 29 11.0485C29 14.3201 28.3958 19.6288 25.2542 23.7646C24.7104 24.5053 23.8042 24.9374 22.8979 24.9992C20.5417 25.1226 15.6479 25.1843 12.1438 23.9498C11.4187 23.7029 10.875 22.9621 10.875 22.1597V11.4189C10.875 11.1103 10.9958 10.8016 11.1167 10.493Z"></path>
                        <path d="M6.64583 10.8016H1.8125C0.785417 10.8016 0 11.6041 0 12.6535V23.1473C0 24.1967 0.785417 24.9992 1.8125 24.9992H6.64583C7.67292 24.9992 8.45833 24.1967 8.45833 23.1473V12.6535C8.45833 11.6658 7.67292 10.8016 6.64583 10.8016ZM4.22917 21.9127C3.56458 21.9127 3.02083 21.3572 3.02083 20.6782C3.02083 19.9992 3.56458 19.4436 4.22917 19.4436C4.89375 19.4436 5.4375 19.9992 5.4375 20.6782C5.4375 21.3572 4.89375 21.9127 4.22917 21.9127Z"></path>
                        </svg>
                        </div>
                        <div class="advan-text">
                            <h6>Best quality products</h6>
                            <p>Quality guarantee 100%</p>
                        </div>
                    </div>
                    <div class="advan-item d-flex align-items-center my-4">
                        <div class="advan-icon ">
                            <svg width="25" height="25" viewBox="0 0 25 25" fill="#2BB409" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.5 0C5.625 0 0 5.625 0 12.5C0 19.375 5.625 25 12.5 25C19.375 25 25 19.375 25 12.5C25 5.625 19.4271 0 12.5 0ZM18.2292 13.5417H13.5417C12.3958 13.5417 11.4583 12.6042 11.4583 11.4583V5.20833C11.4583 4.63542 11.9271 4.16667 12.5 4.16667C13.0729 4.16667 13.5417 4.63542 13.5417 5.20833V11.4583H18.2292C18.8021 11.4583 19.2708 11.9271 19.2708 12.5C19.2708 13.0729 18.8021 13.5417 18.2292 13.5417Z"></path>
                      </svg>
                        </div>
                        <div class="advan-text">
                            <h6>Return within 5 days</h6>
                            <p>More than 1000 famous brands</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- advantage block -->

    <!-- best-seller -->

    <!-- best-seller -->
    <!-- new item -->

    <div class="selling-main-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sellting-ttl">
                        New items
                    </div>
                </div>
            </div>
            <div class="row over-scroll">
                <div class="col-12" *ngFor="let item of newItemsArray">
                    <div class="selling-product--list py-3">
                        <div class="seling-img">
                            <img src="../../assets/images/BlueCoolSeductionforMen.png">
                            <div class="sale">
                                Sale
                            </div>
                            <div class="product-panel">
                                <!-- <div class="pro-compare"> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" fill="#ccc" height="20" viewBox="0 0 121.805 121.805" style="enable-background:new 0 0 121.805 121.805;"
                                        xml:space="preserve">
                         <g>
                           <g>
                             <path d="M121.805,109.623V21.926c0-2.692-2.181-4.873-4.871-4.873H92.572c-2.691,0-4.871,2.181-4.871,4.873v87.697
                               c0,2.693,2.18,4.873,4.871,4.873h24.361C119.624,114.496,121.805,112.316,121.805,109.623z"/>
                             <path d="M46.287,114.496h26.797c2.691,0,4.872-2.18,4.872-4.873V12.181c0-2.692-2.181-4.872-4.872-4.872H46.287
                               c-2.692,0-4.873,2.18-4.873,4.872v97.442C41.414,112.316,43.594,114.496,46.287,114.496z"/>
                             <path d="M4.872,46.286C2.18,46.286,0,48.466,0,51.158v58.465c0,2.693,2.18,4.873,4.872,4.873h24.361
                               c2.692,0,4.872-2.18,4.872-4.873V51.158c0-2.692-2.18-4.872-4.872-4.872H4.872z"/>
                           </g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         </svg> <span class="ml-2">COMPARE</span> </div> -->
                                <div class="add-cart "><svg viewBox="0 0 22 22" width="20" height="20" fill="#fff" xmlns="http://www.w3.org/2000/svg" id="buy_btn_icon">
                            <path d="M6.757 3.667l-.262-1.31C6.233.995 5.08 0 3.666 0H1.361C.681 0 .051.471 0 1.152c-.052.786.524 1.467 1.31 1.467h2.357c.105 0 .262.105.262.262L6.18 13.986a2.621 2.621 0 0 0 2.777 2.095l9.742-.733c1.257-.105 2.253-1.048 2.41-2.253l.89-6.443c.21-1.571-1.047-2.985-2.619-2.985H6.757zM7.857 22a2.095 2.095 0 1 0 0-4.19 2.095 2.095 0 0 0 0 4.19zm9.428 0a2.095 2.095 0 1 0 0-4.19 2.095 2.095 0 0 0 0 4.19z"></path>
                          </svg> <span class="ml-2">ADD TO CART</span></div>
                            </div>
                        </div>
                        <div class="selling-content">
                            <!-- <p class="text-upper">Man J55441</p>
                            <p>Article: <span> 5986964</span></p> -->
                            <p class="vendor">{{ item.name }}</p>
                            <p [innerHTML]="item.description"></p>
                        </div>
                        <!-- <div class="gift">
                            <svg viewBox="0 0 25 25" width="20" height="20" fill="#2BB409" xmlns="http://www.w3.org/2000/svg" id="gift_icon">
                      <path d="M10.714 14.88v8.334A1.754 1.754 0 0 1 8.93 25H4.762a2.947 2.947 0 0 1-2.976-2.976V14.88c0-1.012.774-1.786 1.785-1.786H8.93c1.011 0 1.785.774 1.785 1.786zm3.572 0v8.334c0 1.012.774 1.786 1.785 1.786h4.167a2.947 2.947 0 0 0 2.976-2.976V14.88a1.754 1.754 0 0 0-1.785-1.786H16.07a1.754 1.754 0 0 0-1.785 1.786zm8.928-10.713h-7.738l1.607-1.607c.596-.596.596-1.548 0-2.084-.595-.595-1.547-.595-2.083 0l-2.5 2.44-2.5-2.5c-.595-.595-1.548-.595-2.083 0-.596.596-.596 1.548 0 2.084l1.607 1.667H1.786A1.754 1.754 0 0 0 0 5.952V8.93c0 1.011.774 1.785 1.786 1.785h21.428A1.754 1.754 0 0 0 25 8.93V5.952a1.754 1.754 0 0 0-1.786-1.785z"></path>
                    </svg> <span>Gift</span>
                        </div> -->
                        <div class="price-review d-flex justify-content-between">
                            <div class="price">
                                {{ item.price }} RUB
                            </div>
                            <!-- <div class="review">
                                <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" xml:space="preserve" x="0px" y="0px" width="104px" height="15px" viewBox="0 0 104 15" preserveAspectRatio="none"
                                    shape-rendering="geometricPrecision"><path fill="#C4C4C4" d="M8.00005 0L9.79617 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8.00005 11.0557L3.29777 14.4721L5.09388 8.94427L0.391602 5.52786H6.20394L8.00005 0Z"/><path fill="#C4C4C4" d="M30.0001 0L31.7962 5.52786H37.6085L32.9062 8.94427L34.7023 14.4721L30.0001 11.0557L25.2978 14.4721L27.0939 8.94427L22.3916 5.52786H28.2039L30.0001 0Z"/><path fill="#C4C4C4" d="M52.0001 0L53.7962 5.52786H59.6085L54.9062 8.94427L56.7023 14.4721L52.0001 11.0557L47.2978 14.4721L49.0939 8.94427L44.3916 5.52786H50.2039L52.0001 0Z"/><path fill="#C4C4C4" d="M74.0001 0L75.7962 5.52786H81.6085L76.9062 8.94427L78.7023 14.4721L74.0001 11.0557L69.2978 14.4721L71.0939 8.94427L66.3916 5.52786H72.2039L74.0001 0Z"/><path fill="#C4C4C4" d="M96.0001 0L97.7962 5.52786H103.609L98.9062 8.94427L100.702 14.4721L96.0001 11.0557L91.2978 14.4721L93.0939 8.94427L88.3916 5.52786H94.2039L96.0001 0Z"/></svg>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="selling-main-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sellting-ttl">
                        Best Seller
                    </div>
                </div>
            </div>
            <div class="row over-scroll">
                <div class="col-12" *ngFor="let item of bestSeller">
                    <div class="selling-product--list py-3">
                        <div class="seling-img">
                            <img src="../../assets/images/BlueCoolSeductionforMen.png">
                            <div class="sale">
                                Sale
                            </div>
                            <div class="product-panel">
                                <!-- <div class="pro-compare"> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" fill="#ccc" height="20" viewBox="0 0 121.805 121.805" style="enable-background:new 0 0 121.805 121.805;"
                                        xml:space="preserve">
                         <g>
                           <g>
                             <path d="M121.805,109.623V21.926c0-2.692-2.181-4.873-4.871-4.873H92.572c-2.691,0-4.871,2.181-4.871,4.873v87.697
                               c0,2.693,2.18,4.873,4.871,4.873h24.361C119.624,114.496,121.805,112.316,121.805,109.623z"/>
                             <path d="M46.287,114.496h26.797c2.691,0,4.872-2.18,4.872-4.873V12.181c0-2.692-2.181-4.872-4.872-4.872H46.287
                               c-2.692,0-4.873,2.18-4.873,4.872v97.442C41.414,112.316,43.594,114.496,46.287,114.496z"/>
                             <path d="M4.872,46.286C2.18,46.286,0,48.466,0,51.158v58.465c0,2.693,2.18,4.873,4.872,4.873h24.361
                               c2.692,0,4.872-2.18,4.872-4.873V51.158c0-2.692-2.18-4.872-4.872-4.872H4.872z"/>
                           </g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         <g>
                         </g>
                         </svg> <span class="ml-2">COMPARE</span> </div> -->
                                <div class="add-cart "><svg viewBox="0 0 22 22" width="20" height="20" fill="#fff" xmlns="http://www.w3.org/2000/svg" id="buy_btn_icon">
                            <path d="M6.757 3.667l-.262-1.31C6.233.995 5.08 0 3.666 0H1.361C.681 0 .051.471 0 1.152c-.052.786.524 1.467 1.31 1.467h2.357c.105 0 .262.105.262.262L6.18 13.986a2.621 2.621 0 0 0 2.777 2.095l9.742-.733c1.257-.105 2.253-1.048 2.41-2.253l.89-6.443c.21-1.571-1.047-2.985-2.619-2.985H6.757zM7.857 22a2.095 2.095 0 1 0 0-4.19 2.095 2.095 0 0 0 0 4.19zm9.428 0a2.095 2.095 0 1 0 0-4.19 2.095 2.095 0 0 0 0 4.19z"></path>
                          </svg> <span class="ml-2">ADD TO CART</span></div>
                            </div>
                        </div>
                        <div class="selling-content">
                            <!-- <p class="text-upper">Man J55441</p>
                            <p>Article: <span> 5986964</span></p> -->
                            <p class="vendor">{{ item.name }}</p>
                            <p [innerHTML]="item.description"></p>
                        </div>
                        <!-- <div class="gift">
                            <svg viewBox="0 0 25 25" width="20" height="20" fill="#2BB409" xmlns="http://www.w3.org/2000/svg" id="gift_icon">
                      <path d="M10.714 14.88v8.334A1.754 1.754 0 0 1 8.93 25H4.762a2.947 2.947 0 0 1-2.976-2.976V14.88c0-1.012.774-1.786 1.785-1.786H8.93c1.011 0 1.785.774 1.785 1.786zm3.572 0v8.334c0 1.012.774 1.786 1.785 1.786h4.167a2.947 2.947 0 0 0 2.976-2.976V14.88a1.754 1.754 0 0 0-1.785-1.786H16.07a1.754 1.754 0 0 0-1.785 1.786zm8.928-10.713h-7.738l1.607-1.607c.596-.596.596-1.548 0-2.084-.595-.595-1.547-.595-2.083 0l-2.5 2.44-2.5-2.5c-.595-.595-1.548-.595-2.083 0-.596.596-.596 1.548 0 2.084l1.607 1.667H1.786A1.754 1.754 0 0 0 0 5.952V8.93c0 1.011.774 1.785 1.786 1.785h21.428A1.754 1.754 0 0 0 25 8.93V5.952a1.754 1.754 0 0 0-1.786-1.785z"></path>
                    </svg> <span>Gift</span>
                        </div> -->
                        <div class="price-review d-flex justify-content-between">
                            <div class="price">
                                {{ item.price }} RUB
                            </div>
                            <!-- <div class="review">
                                <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" xml:space="preserve" x="0px" y="0px" width="104px" height="15px" viewBox="0 0 104 15" preserveAspectRatio="none"
                                    shape-rendering="geometricPrecision"><path fill="#C4C4C4" d="M8.00005 0L9.79617 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8.00005 11.0557L3.29777 14.4721L5.09388 8.94427L0.391602 5.52786H6.20394L8.00005 0Z"/><path fill="#C4C4C4" d="M30.0001 0L31.7962 5.52786H37.6085L32.9062 8.94427L34.7023 14.4721L30.0001 11.0557L25.2978 14.4721L27.0939 8.94427L22.3916 5.52786H28.2039L30.0001 0Z"/><path fill="#C4C4C4" d="M52.0001 0L53.7962 5.52786H59.6085L54.9062 8.94427L56.7023 14.4721L52.0001 11.0557L47.2978 14.4721L49.0939 8.94427L44.3916 5.52786H50.2039L52.0001 0Z"/><path fill="#C4C4C4" d="M74.0001 0L75.7962 5.52786H81.6085L76.9062 8.94427L78.7023 14.4721L74.0001 11.0557L69.2978 14.4721L71.0939 8.94427L66.3916 5.52786H72.2039L74.0001 0Z"/><path fill="#C4C4C4" d="M96.0001 0L97.7962 5.52786H103.609L98.9062 8.94427L100.702 14.4721L96.0001 11.0557L91.2978 14.4721L93.0939 8.94427L88.3916 5.52786H94.2039L96.0001 0Z"/></svg>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- new-item -->
    <!-- about company -->
    <div class="about-company py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sellting-ttl">
                        About Us
                    </div>

                </div>
                <div class="col-12">
                    <p>Are you looking for an original perfume composition that can become your business card? Do you want to find "your" perfume so that you will be associated with this unique scent? Our store is pleased to present you a wide range of perfumes,
                        eau de parfum and eau de toilette from the most famous and world famous brands.</p>
                    <p>Order a perfume store at the price indicated below in our design studio, and we will develop a website for you with high quality and within the specified time frame. You will only have to fill the site with unique information in order
                        to become visible to search engines as quickly as possible, and, accordingly, to potential buyers.</p>
                    <a href="#">More details</a>
                </div>
            </div>
        </div>
    </div>
    <!-- about company -->

    <!-- disount section -->
    <div class="discount-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-discount my-3">
                        <img src="../../assets/images/cdfdf.png">
                        <div class="single-content">
                            <p>New items</p>
                            <h6>Hypoallergenic cosmetics myths</h6>
                        </div>

                    </div>
                    <div class="single-discount my-3">
                        <img src="../../assets/images/download-1.png">
                        <div class="single-content">
                            <p>Discounts -15%</p>
                            <h6>Deep Euphoria - Unique feminine blend of sweet jasmine</h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- disount section -->
    <div class="send-msg-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-content text-center">
                        <h6>5% discount as a gift for a subscription!</h6>
                        <p>
                            Subscribe and be the first to know about promotions and sales
                        </p>

                    </div>
                    <form>
                        <input type="text" class="form-control" placeholder="Email *">
                        <button type="submit" class="cstm-submit">Send message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- send  message -->

    <!-- customer review  -->
    <div class="customer-review py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sellting-ttl">
                        Reviews
                    </div>

                </div>
            </div>
            <div class="row over-scroll">
                <div class="col-12">
                    <div class="review-content">
                        <div class="coment">I have been ordering here for many years in a row! Price, quality, service, terms, delivery - everything is at the highest level! The lowest prices, nice gifts and only originals! I advise everyone.
                        </div>
                        <div class="review-date ml-5">20.11.2019</div>
                        <div class="review-client ml-5">Maxim</div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="review-content">
                        <div class="coment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam tempore vero veniam quos enim eligendi! </div>
                        <div class="review-date ml-5">20.11.2019</div>
                        <div class="review-client ml-5">Maxim</div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="review-content">
                        <div class="coment">I have been ordering here for many years in a row! Price, quality, service, terms, delivery - everything is at the highest level! The lowest prices, nice gifts and only originals! I advise everyone.
                        </div>
                        <div class="review-date ml-5">20.11.2019</div>
                        <div class="review-client ml-5">Maxim</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- customer review  -->

    <!-- brand -->
    <div class="brand-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sellting-ttl">
                        Brands
                    </div>

                </div>
            </div>
            <div class="row over-scroll">
                <div class="col-6"><img src="../../assets/images/Beta.png" class="img-fluid"> </div>
                <div class="col-6"><img src="../../assets/images/Casar.png" class="img-fluid"> </div>
                <div class="col-6"><img src="../../assets/images/Celius.png" class="img-fluid"> </div>
                <div class="col-6"><img src="../../assets/images/Friedrich.png" class="img-fluid"> </div>
            </div>
        </div>
    </div>
    <!-- brand -->

    <!-- footer -->
    <div class="footer py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content">
                        <div class="ftr-logo text-center">
                            <img src="../../assets/images/logo.png" class="img-fluid w-50 mx-auto">
                        </div>
                        <div class="company-contact pt-3">
                            <ul>
                                <li><i class="fa fa-map-marker"></i><span>Russia, 125040, Moscow, Leninsky prospect, building, building, office number</span></li>
                                <li><i class="fa fa-phone"></i><span>09:00 to 22:00 <br><b>+7 (000) 000-00-00</b> <br> <b>8 (000) 111-11-11</b></span></li>
                                <li><i class="fa fa-envelope-o"></i><span>login@domain.ru</span></li>
                            </ul>
                        </div>
                        <div class="company-social py-3">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                                <li><a href="#"><i class="fa fa-vk"></i></a> </li>
                                <li><a href="#"><i class="fa fa-odnoklassniki"></i></a> </li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a> </li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    Copyright &copy; 2021, Company Name
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
</ion-content>