<div class="about-home pt-4 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Perfume shop</h2>
                <p>Are you looking for an original perfume composition that can become your business card? Do you want to find "your" perfume so that you will be associated with this unique scent? Our store is pleased to present you a wide range of perfumes,
                    eau de parfum and eau de toilette from the most famous and world famous brands.</p>
                <p>Order a perfume store at the price indicated below in our design studio, and we will develop a website for you with high quality and within the specified time frame. You will only have to fill the site with unique information in order
                    to become visible to search engines as quickly as possible, and, accordingly, to potential buyers.</p>
                <a href="#">more details</a>
            </div>
        </div>
    </div>
</div>
