<div class="login-register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="form-input">
                    <div class="log-header">
                        <img src="../../assets/images/logo.png" class="login-logo" alt="logo">
                        <h2>Registration</h2>
                    </div>
                    <form>
                        <div class="form-group input-sec">
                            <input type="text" class="form-control" placeholder="Name *">
                        </div>
                        <div class="form-group input-sec">
                            <input type="text" class="form-control" placeholder="email *">
                        </div>
                        <div class="form-group input-sec">
                            <input type="password" class="form-control" placeholder="Password *">
                        </div>
                        <div class="form-group input-sec">
                            <input type="password" class="form-control" placeholder="Re-enter Password *">
                        </div>
                        <div class="form-group input-sec">
                            <input type="text" class="form-control" placeholder="Company Name *">
                        </div>
                        <div class="form-group input-sec">
                            <input type="text" class="form-control" placeholder="Phone *">
                        </div>
                        <div class="form-group input-sec">
                            <input type="text" class="form-control" placeholder="Fax">
                        </div>
                        <div class="form-group">

                            <div class="forget float-left text-left">
                                <input type="checkbox"> Read the user agreement. <a href="#">More details</a>
                            </div>

                        </div>

                        <button type="button " class="cstm-submit">Register Now</button>
                        <div class="social-login">
                            <p>You can also login through:</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                    <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="create-id">
                            Already have an account? <a [routerLink]="['/login']">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
